body {
  margin: 0px;
  padding: 0px;
}

.countries {
  font-family: sans-serif;
}

.countries h1 {
  text-align: center;
}

.countries__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 50px;
}

.countries__div section {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.country h2,
.country h4 {
  width: 100%;
}

.country h2,
.country h4,
.country-detail h2,
.country-detail h4 {
  text-align: center;
}

.country__flag {
  height: 100px;
  border-radius: 10px;
  align-self: center;
}

.country-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(171, 164, 164);
  display: flex;
  justify-content: center;
}

.country-detail {
  margin: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 20px;
}

.close-button {
  align-self: end;
  border-radius: 10px;
  cursor: pointer;

  background-color: #ff4d4d; 
  color: white; 
  border: none; 
  padding: 10px 15px; 
  font-size: 16px; 
  font-weight: 600;
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.1s; 
}

.close-button:hover {
  background-color: #ff1a1a; 
}

.close-button:active {
  background-color: #cc0000; 
  transform: scale(0.95); 
}

.close-button:focus {
  outline: none; 
}